*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

:root {
  --main-color: #4a4a4a;
  --shadow-color: gainsboro;
  --pointer-color: #f8f9fa;
}

fieldset {
  width: 500px;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--shadow-color);
}

legend {
  font-size: larger;
  padding: 5px;
}

.bio-container {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.bio-container div {
  margin: 5px;
}

.bio-container div input:hover {
  background-color: var(--pointer-color);
}

.bio-container div input {
  border: none;
  width: 380px;
  font-style: italic;
  font-size: medium;
}

.bio-container div:first-of-type input {
  width: 190px;
}

.bio-container img {
  display: block;
  margin: 0 auto;
  width: 125px;
  color: var(--main-color);
}

.photo-container {
  display: flex;
  flex-direction: column;
}

.photo-container p {
  display: flex;
  margin: 5px 50px;
  align-content: center;
}

.photo-main-photo {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background-color: var(--pointer-color);
  padding: 5px;
  object-fit: cover;
}

.photo-container p img {
  width: auto;
  height: auto;
  margin-right: 25px;
}

.photo-container p i {
  margin-left: 25px;
}

hr {
  margin: 15px;
}

.bio-container button,
.registration-container div button,
.photo-upload-container button,
.photo-upload-form button,
.city-form button,
.resetBtn {
  width: 100px;
  height: 35px;
  border-radius: 50px;
  border-color: var(--main-color);
  margin: 10px;
  font-size: medium;
  float: right;
}

.bio-container button:hover,
.registration-container button:hover,
.photo-upload-container button:hover,
.photo-upload-form button:hover,
.city-form button:hover,
.addBtn:hover,
.resetBtn:hover {
  opacity: 0.7;
}

.bio-container button:first-child,
.registration-container button:first-child,
.photo-upload-container button:first-of-type,
.photo-upload-form button:first-of-type,
.city-form button:first-of-type {
  background-color: var(--main-color);
  color: white;
}

.bio-container button:last-child,
.photo-upload-container button:last-child,
.photo-upload-form button:last-child,
.city-form button:last-child,
.registration-container button:last-child,
.resetBtn {
  background-color: white;
  color: var(--main-color);

}

.valid-message {
  content: "nickname";
  color: var(--main-color);
}

.error-message {
  color: red;
}

.App2 h4,
.App3 h4,
.App4 h4,
.App5 h4 {
  text-align: center;
  text-transform: uppercase;
}

.App4 h4 {
  margin-left: 35px;
}

.registration-container,
.photo-items,
.city-items {
  display: flex;
  flex-direction: column;
}

.photo-items div,
.city-items div,
.registration-container div:not(:last-child) {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.registration-container label {
  width: 100px;
  margin-left: 20px;
}

.photo-items label,
.city-items label {
  width: 100px;
  text-align: left;
  margin-right: 10px;
}

.registration-container div input,
.photo-items input,
.city-items input {
  padding: 5px;
  flex: 1;
  border-radius: 8px;
  border-color: transparent;
}

.registration-container div input {
  background-color: var(--pointer-color);
}

.city-form,
.photo-upload-form {
  width: 450px;
  height: auto;
  border-radius: 5px;
  background-color: var(--pointer-color);
  box-shadow: 4px 4px 8px var(--main-color);
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 20px;
}

.city-form-hidden,
.photo-upload-form-hidden {
  display: none;
}

.addBtn {
  border: none;
  background-color: transparent;
  position: relative;
  float: right;
  cursor: pointer;
  z-index: 9;
}

.addBtn::after {
  content: "add";
  position: absolute;
  top: 20px;
  left: 0;
  padding: 5px 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 3px;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s;
}

.addBtn:hover::after {
  opacity: 1;
}

.cities-list {
  margin: 20px;
}